@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");

@font-face {
  font-family: "dgm";
  src: url("./neodgm_pro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
